.group {
  border: 1px solid black;
  margin-bottom: 5px;
  cursor: pointer;
}

.group:hover {
  background-color: #eee;
}

.group:last-child {
  margin-bottom: 0;
}

.group > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount-item {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: 10px;
}

.group-item > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
