.group {
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 10px;
}

.group:last-child {
  margin-bottom: 0;
}

.group .header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.amount-item {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 10px;
}

.group-item .header {
  display: flex;
  justify-content: space-between;
}
